<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="Hangout Tabletop RPG">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html">
    <![CDATA[
      <script src="//hangoutsapi.appspot.com/static/hangout.js"></script>
      <iframe height="500" width="100%" src="http://dice.no.de/"></iframe>
    ]]>
  </Content>
</Module>
